<html>
<head>
	<title>My Final 191 Project</title>
	<style type="text/css">
		body {
			font-family: "Helvetica";
			background-color: rgb(223, 255, 223);
			font-size: 30px;
			text-shadow: 0px 2px rgb(0, 150, 150);
		}
	</style>
</head>
<body>
	<div class="container">
		<ul class="list">
			<li>Ok so these are the things you'll want to gr8de:</li>
			<li><a href="rabuissa.o">rabuissa.o</a>(run on output by Django)</li>
			<li><a href="proc">rabuissa_proc_fun.txt</a></li>
		</ul>
	</div>
</body>
</html>